img, embed, object, video {
  max-width: 100%;
}

html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

.container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 12%;  
  max-width: 20%;
  z-index: 99;
  color: #bfe1f1;
  background-color: #333;
  min-width: 180px;
}

.map-class {
  height: 100%;
  overflow: hidden;
}

.list-div { 

}

.search-bar{


}


.but {
  color: black;
}

/*)) http://www.marcofolio.net/css/8_different_ways_to_beautifully_style_your_lists.html*/
  /* LIST #8 */
/*
.list-div {  }
.list-div ul { 
  list-style:none;
}
.list-div ul li { font-family:Georgia,serif,Times; font-size: 15px; }
.list-div ul li { display:block; width: 300px; height: 20px; background-color: #333; border-left:5px solid #222; border-right:5px solid #222; padding-left: 10px;
  text-decoration:none; color:#bfe1f1; }
.list-div ul p { display:block; width: 300px; height: 20px; background-color: #333; border-left:5px solid #222; border-right:5px solid #222; padding-left: 10px;
  text-decoration:none; color:#bfe1f1; text-align: center; margin: 0px; }
*/


@media only screen and (max-width: 880px) {

  .container {
    top: 12%;
    font-size: .7em;

  }

}