@media only screen and (max-width: 600px) {

		.imageContainer {
		width: 1000%;
		border: 2px solid #2e3249;

	}
	
}



@media only screen and (max-width: 1100px) {

	.imageContainer {
		width: 50%;
		border: 2px solid #2e3d49;

	}

}


@media only screen and (max-width: 400px) {
	
}

img, embed, video, object {
	max-width: 100%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;

	width: 75%;

}

.mainImageContainer {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;

	width: 75%;
}

.mainImage {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 50%;
}

.imageWork {
	/*max-height: 33%;
	max-width: 33%; */
}

.textWork {

}

.linkWork {

}

.logo {
	display: inline-block;
	height: 100px;
	width: 100px;
}

.nameAndTitle {
	display: inline-block;
	text-align: right;
	width: 75%;


}

.logoContainer {
	width: 20%;
}

#workHeader {
	width: 100%;
}

.imageContainer {
	width: 33%;
	text-align: center;
	margin: auto;


}

.workContainer {
	width: 75%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
